In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import os

First we have to import the dataset and perform preprocessing and analyze the dataset </br>
We have to deal with the missing data, outliers and also perfome normalization on our data

In [4]:
os.getcwd()

'C:\\Users\\aligh\\Math4ML'

The dataset is called <b>Higher Education Students Performance Evaluation Dataset Data Set<b>

In [22]:
ds=pd.read_csv('DATA.csv',";") #adding the dataset 
#the initial shape of the dataset is (145,1) but we need to seperate the attributes so I used "," as the seperator

C:\Users\aligh\anaconda3\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
ds.head(5)

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1

Each of these numbers in columns represent an attribute </br>
check the link below:</br>
http://archive.ics.uci.edu/ml/datasets/Higher+Education+Students+Performance+Evaluation+Dataset

<b>Attribute Information</b>:</br>

Student ID</br>
1- Student Age (1: 18-21, 2: 22-25, 3: above 26)</br>
2- Sex (1: female, 2: male)</br>
3- Graduated high-school type: (1: private, 2: state, 3: other)</br>
4- Scholarship type: (1: None, 2: 25%, 3: 50%, 4: 75%, 5: Full)</br>
5- Additional work: (1: Yes, 2: No)</br>
6- Regular artistic or sports activity: (1: Yes, 2: No)</br>
7- Do you have a partner: (1: Yes, 2: No)</br>
8- Total salary if available (1: USD 135-200, 2: USD 201-270, 3: USD 271-340, 4: USD 341-410, 5: above 410)</br>
9- Transportation to the university: (1: Bus, 2: Private car/taxi, 3: bicycle, 4: Other)</br>
10- Accommodation type in Cyprus: (1: rental, 2: dormitory, 3: with family, 4: Other)</br>
11- Mothersâ€™ education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.)</br>
12- Fathersâ€™ education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.)</br>
13- Number of sisters/brothers (if available): (1: 1, 2:, 2, 3: 3, 4: 4, 5: 5 or above)</br>
14- Parental status: (1: married, 2: divorced, 3: died - one of them or both)</br>
15- Mothersâ€™ occupation: (1: retired, 2: housewife, 3: government officer, 4: private sector employee, 5: self-employment, 6: other)</br>
16- Fathersâ€™ occupation: (1: retired, 2: government officer, 3: private sector employee, 4: self-employment, 5: other)</br>
17- Weekly study hours: (1: None, 2: <5 hours, 3: 6-10 hours, 4: 11-20 hours, 5: more than 20 hours)</br>
18- Reading frequency (non-scientific books/journals): (1: None, 2: Sometimes, 3: Often)</br>
19- Reading frequency (scientific books/journals): (1: None, 2: Sometimes, 3: Often)</br>
20- Attendance to the seminars/conferences related to the department: (1: Yes, 2: No)</br>
21- Impact of your projects/activities on your success: (1: positive, 2: negative, 3: neutral)</br>
22- Attendance to classes (1: always, 2: sometimes, 3: never)</br>
23- Preparation to midterm exams 1: (1: alone, 2: with friends, 3: not applicable)</br>
24- Preparation to midterm exams 2: (1: closest date to the exam, 2: regularly during the semester, 3: never)</br>
25- Taking notes in classes: (1: never, 2: sometimes, 3: always)</br>
26- Listening in classes: (1: never, 2: sometimes, 3: always)</br>
27- Discussion improves my interest and success in the course: (1: never, 2: sometimes, 3: always)</br>
28- Flip-classroom: (1: not useful, 2: useful, 3: not applicable)</br>
29- Cumulative grade point average in the last semester (/4.00): (1: <2.00, 2: 2.00-2.49, 3: 2.50-2.99, 4: 3.00-3.49, 5: above 3.49)</br>
30- Expected Cumulative grade point average in the graduation (/4.00): (1: <2.00, 2: 2.00-2.49, 3: 2.50-2.99, 4: 3.00-3.49, 5: above 3.49)</br>
31- Course ID</br>
32- OUTPUT Grade (0: Fail, 1: DD, 2: DC, 3: CC, 4: CB, 5: BB, 6: BA, 7: AA)</br>

<H3>First we take care of the missing values</H3>

In [20]:
type(ds)

pandas.core.frame.DataFrame

In [21]:
ds.shape

(145, 33)

In [25]:
ds.columns

Index(['STUDENT ID', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', 'COURSE ID', 'GRADE'],
      dtype='object')

In [28]:
ds.dropna()

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [29]:
ds=ds.dropna() #the new dataset does not contain NA values